.header {
    background-image: linear-gradient(to bottom, #466681, #a5b3c0);
    transition: background-image 0.5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 1rem;
    color: black; 
  }
  
  
  .header__left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }
  
  .header__center {
    flex: 2;
    justify-content: center;
    width: 80%;
  }
  
  
  .header__btn {
    background-color: white;
    color: black; 
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .header__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  